body {
    display: flex;
    padding: 0;
    margin: 0;


}


.main-form-container, .picture-container {
    display: flex;
    flex-direction: column;
    height: 100vh;

}

.picture-container {
    width: 40%;
}


.picture-container {
    color: white;


}

.picture-container img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;


}


.form-info-container {
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: center;
    align-items: flex-start;
    background-color: #B1B2FF;
    padding: 20px;
}

.right-column, .left-column {
    display: flex;
    flex-direction: column;
    gap: 8px;
}


.user-info-form {
    display: flex;
    outline: purple solid 3px;
    gap: 8px;
    padding: 20px;
}

.overlaid-image {
    margin-top: -650px;
    background-color: #181818;
    text-align: center;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: .5;

}


.overlaid-image img {
    width: 100px;
    height: 100px;
}


.pic-reference-container {
    display: flex;
    margin-top: auto;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.form-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: solid 2px red;
}

label {
    display: flex;
    justify-content: flex-start;
    text-align: right;
    width: 200px;
    line-height: 26px;
    margin-bottom: 10px;
}

a {
    color: white;
}