body {
    display: flex;
    padding: 0;
    margin: 0;


}


.main-form-container, .picture-container {
    display: flex;
    flex-direction: column;
    height: 100vh;

}

.main-form-container {


}


.picture-container {
    width: 40%;
    color: white;
}


.picture-container img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;


}


.form-info-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 30px 30px 30px 50px;
    height: 40vh;
    background-color: #EEEEEE;


}

.form-text {
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 50%;
    flex-wrap: wrap;
    font-weight: bolder;

}

.right-column, .left-column {
    display: flex;
    flex-direction: column;
    gap: 8px;
}


.user-info-form {
    display: flex;
    gap: 8px;
    padding: 20px;


}

.overlaid-image {
    margin-top: -650px;
    background-color: #181818;
    text-align: center;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: .5;

}


.overlaid-image img {
    width: 100px;
    height: 100px;
}


.pic-reference-container {
    display: flex;
    margin-top: auto;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.form-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 20vh;
    background-color: #F9F6EE;
    box-shadow: 0 8px 6px -6px black;
    padding: 30px;


}

.submit-container {
    margin-top: 3px;
    display: flex;
    height: 40vh;
    flex-direction: column;
    gap: 20px;
    justify-content: flex-start;
    background-color: #EEEEEE;
    padding: 30px 30px 30px 50px;
}

label {
    display: flex;
    justify-content: flex-start;
    text-align: right;
    width: 200px;
    line-height: 26px;

}

.submit-container a {
    color: #04AA6D;

}

a {
    color: white;
}

input[type=submit] {
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    height: 50px;
    width: 150px;
}