body {
    display: flex;
    padding: 0;
    margin: 0;


}


.form-container, .picture-container {
    display: flex;
    flex-direction: column;
    height: 100vh;

}

.picture-container {
    width: 40%;
}


.picture-container {
    color: white;


}

.picture-container img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;


}

.form-container {

}

.form-info-container {
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: center;
    align-items: center;
}

.user-info-form {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.overlaid-image {
    margin-top: -650px;
    background-color: #AAC4FF;
    text-align: center;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: .5;

}

.overlaid-image img {
    width: 100px;
    height: 100px;
}


.pic-reference-container{
    display: flex;
    margin-top: auto;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

a {
    color: white;
}